# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
.VSCodeCounter
coverage
content-build

# next.js
/.next/
/out/

# production
/build

# Build directory
.DS_Store
yarn-error.log
.vercel
